body {
    background-color: #D8DFE8;
    color: #0A3871;
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.section {
    background-color: #D8DFE8;
    width: 50%;
    height: 80%;
    display: inline-block;
    margin: 1.5em;
}

#textarea {
    background-color: #D8DFE8;
    color: #0A3871;
    font-size: 1.5em;
    width: 100%;
    height: 70%;
    padding: 3em;
    margin: 0 2em;
    border: none;
    outline:none;
    resize: none;
    box-sizing: border-box;
}

#textarea::placeholder {
    color: #0A3871;
}

.aside {
    background-color: white;
    color: #000;
    /* font-size: 1.5em; */
    font-weight: bold;
    width: 20%;
    height: 70%;
    padding: 2em;
    margin: 1em;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.boton-encriptar {
    background-color: #0A3871;
    color: #FFF;
    font-size: 20px;
    padding: 1em 6em;
    margin: 1em;
    border-radius: 15px;
    border: none;
    transition: 1s all;
    cursor: pointer;
}

.boton-desencriptar {
    background-color: #D8DFE8;
    color: #0A3871;
    font-size: 20px;
    padding: 1em 6em;
    margin: 1em;
    border-radius: 15px;
    border: #0A3871 1px solid;
    transition: 1s all;
    cursor: pointer;
}

.boton-copiar {
    background-color: #FFF;
    color: #0A3871;
    font-size: 20px;
    padding: 1em 6em;
    border-radius: 15px;
    border: #0A3871 1px solid;
    transition: 1s all;
    cursor: pointer;
}

.boton-copiar:hover, .boton-encriptar:hover, .boton-desencriptar:hover {
    transform: scale(1.1);
}

.botones {
    display: flex;
    justify-content: center;
}

.secreto {
    padding: 1em 0;
}

.pegar {
    transition: .5s all;
    cursor: pointer;
}

.pegar:hover {
    font-size: 1.1em;
}