* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: #D8DFE8;
    color: #0A3871;
    font-family: 'Inter', sans-serif;
}

.contenedor {
    padding: 2em; 
    display: flex;
    justify-content:space-around;
}

.principal {
    width: 75%;
    min-height: 30em;
}

.lateral {
    background-color: white;
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
    width: 25%;
    min-width: 14.5em;
    min-height: 27em;
    padding: 2em;
    margin: 1em;
    text-align: center;
    border-radius: 32px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imagen-munieco {
    width: 100%;
}

.textarea {
    background-color: #D8DFE8;
    color: #0A3871;
    font-size: 1.8em;
    width: 90%;
    height: 70%;
    padding: 3em;
    margin: 0 2em;
    border: none;
    outline:none;
    resize: none;
    box-sizing: border-box;
}

::placeholder {
    color: #0A3871;
    font-family: 'Inter', sans-serif;
}

.botones {
    display: flex;
    justify-content: center;
}

.boton-encriptar {
    background-color: #0A3871;
    color: #FFF;
    font-size: 20px;
    padding: 1em 5.5em;
    margin: 1em;
    border-radius: 1em;
    border: none;
    transition: 1s all;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.boton-desencriptar {
    background-color: #D8DFE8;
    color: #0A3871;
    font-size: 20px;
    padding: 1em 5em;
    margin: 1em;
    border-radius: 1em;
    border: #0A3871 1px solid;
    transition: 1s all;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.boton-copiar {
    background-color: #FFF;
    color: #0A3871;
    font-size: 20px;
    padding: 1em 5em;
    border-radius: 15px;
    border: #0A3871 1px solid;
    transition: 1s all;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.boton-copiar:hover, .boton-encriptar:hover, .boton-desencriptar:hover {
    transform: scale(1.1);
}

.centrar-texto {
    text-align: center;
    transition: 2s all;
}

.informacion {
    animation-name: alerta;
    animation-duration: 3s;
}

@keyframes alerta {
    0%  {
            color: #0A3871;
            font-size: 1em;
        }

    50% {
            color: #F00;
            font-size: 1.2em;
    }
    100%{
            color: #0A3871;
            font-size: 1em;
        }
  }

.secreto {
    padding: 1em 0;
    overflow-wrap: break-word;
}

.iconos {
    display: flex;
    justify-content: space-around;
}

.borrar, .pegar {
    font-size: 1.5em;
    transition: .5s all;
    cursor: pointer;
}

.borrar:hover, .pegar:hover {
    font-size: 1.6em;
}

.footer {
    background-color: #0A3871;
    color: white;
    height: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.redes a {
    color: #FFF;
    font-size: 3em;
}

@media screen and (max-width:1030px) {
    .contenedor {
        flex-direction: column;
        padding: 0;
    }

    .imagen-munieco {
        display: none;
    }

    .principal {
        width: 95%;
        padding-top: 2em;
        margin: 0 auto;
        min-height: 18.75em;
    }
    
    .textarea {
        width: 100%;
        min-height: 17em;
        padding: 1em;
        margin: 3em 0;
        overflow:auto;

    }

    .lateral {
        width:95%;
        margin: 0 auto;
        margin-bottom: 2em;
        min-height: 5em;
        padding: 1em;
    }

    .boton-encriptar, .boton-desencriptar {
        width: 50%;
    }

    .boton-copiar {
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .principal {
        min-width: 280px;
    }

    .textarea {
        margin-bottom: 1em; 
    }

    .botones {
        flex-direction: column;
    }

    .boton-encriptar, .boton-desencriptar {
        width: 100%;
    }

    .boton-encriptar, .boton-desencriptar {
        margin: 1em 0;
    }

    .boton-copiar:hover, .boton-encriptar:hover, .boton-desencriptar:hover {
        transform: none;
    }

    .lateral {
        min-width: 280px;
    }

    @keyframes alerta {
        0%  {
                color: #0A3871;
                font-size: 1em;
            }

        50% {
                color: #F00;
                font-size: 1.1em;
        }
        100%{
                color: #0A3871;
                font-size: 1em;
            }
  }
}